body{
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}
.di1{
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.di1-1 a{
    margin-right: 20px;
    cursor: pointer;
}
.di2{
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
}
.di2-1{
    position: absolute;
    margin-top: 5px;
}
.di2-2{
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    left: 870px;
    width: 250px;
    top: 100px;
}
.in1{
    margin-left: 5px;
}
#class{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding-left: 50px;
    flex-wrap: wrap;
}

.di3-1{
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 210px;
    text-align: center;
    margin-top: 20px;
}
select{
    font-size: 16px;
    appearance: none;
    border: none;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.find{
    background-color: white;
    border: 1px solid rgb(79, 79, 79);
}
.in1{
    margin-left: 5px;
}
.di4{
    width: 1150px;
   margin-left: 50px;
    margin-right: 50px;
    border-top: 1px solid rgb(207, 207, 207);
    margin-top: 50px;
}
.add{
    cursor: pointer;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    position: fixed;
    top: 500px;
    left: 1170px;
    background-color: rgb(67, 63, 63);
    color: white;
}
button{
    cursor: pointer;
}
h1{
    cursor: pointer;
}
.rowofbuttons button{
    background-color: white;
}