body{
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}
.di1{
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.di1-1 a{
    margin-right: 20px;
}
.my{
    left: 50px;
    position: absolute;
    top: 15%;
    display: flex;
}
.my p{
    font-size: 30px;
    margin: 0;
}
.my div{
    margin-top: 5%;
    text-align: left;
    margin-left: 3%;
}
.img2{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.card{
    position: absolute;
    top: 15%;
    left: 975px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(207, 207, 207);
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 83vh;
    width: 180px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.text{
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid rgb(207, 207, 207);
    left: 50px;
    position: absolute;
    width: 850px;
    top: 350px;
    height: 41vh;
}
.text p{
    font-size: 15px;
}
select{
    font-size: 16px;
    appearance: none;
    border: none;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
}