body{
    margin-left: 50px;
    margin-top: 0;
    width: 1170px;
}
.di1{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.155);
}
.di1-1 a{
    margin-right: 20px;
}